<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="student" class="com.vidvaan.student.bean.Student">
		<constructor-arg name="fee" value="20000.0" />
		<constructor-arg name="course" value="JavaFullCourse" />
	</bean>


	<!-- <bean id="student2" class="com.vidvaan.student.bean.Student"> -->
	<!-- <constructor-arg name="sid" value="101" /> -->
	<!-- <constructor-arg name="name" value="Laxmi" /> -->
	<!-- </bean> -->
	<!-- <alias name="student" alias="st1"/> -->
	<!-- <alias name="student" alias="st2"/> -->
	<!-- <alias name="student" alias="st3"/> -->

</beans>